annotated-types==0.7.0 
boto3==1.35.57 
botocore==1.35.57 
certifi==2024.8.30 
cffi==1.17.1 
charset-normalizer==3.4.0 
credstash==1.17.1 
cryptography==43.0.3 
envtoml==0.1.2 
idna==3.10 
jmespath==1.0.1 
orjson==3.10.11 
pycparser==2.22 
pydantic-core==2.23.4 
pydantic==2.9.2 
python-dateutil==2.9.0.post0 
pyyaml==6.0.1 
requests==2.32.3 
s3transfer==0.10.3 
six==1.16.0 
smart-open==7.0.5 
toml==0.10.2 
typing-extensions==4.12.2 
urllib3==2.2.3 
wrapt==1.16.0 
