annotated-types==0.7.0 ; python_full_version == "3.10.10"
certifi==2024.8.30 ; python_full_version == "3.10.10"
charset-normalizer==3.4.0 ; python_full_version == "3.10.10"
envtoml==0.1.2 ; python_full_version == "3.10.10"
idna==3.10 ; python_full_version == "3.10.10"
py4j==0.10.9.7 ; python_full_version == "3.10.10"
pydantic-core==2.23.4 ; python_full_version == "3.10.10"
pydantic==2.9.2 ; python_full_version == "3.10.10"
pyspark==3.5.0 ; python_full_version == "3.10.10"
pyyaml==6.0.1 ; python_full_version == "3.10.10"
requests==2.32.3 ; python_full_version == "3.10.10"
toml==0.10.2 ; python_full_version == "3.10.10"
typing-extensions==4.12.2 ; python_full_version == "3.10.10"
urllib3==2.2.3 ; python_full_version == "3.10.10"
wget==3.2 ; python_full_version == "3.10.10"
